# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.coverage
.pytest_cache/
cover/

# Flask stuff:
instance/
.webassets-cache

# pyenv
 .python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
